<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço (OS)</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form id="frmClient" class="mt-2 row g-3">
            <!-- Buscar cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="searchClient()">Buscar</button>
            </div>
            <!-- Linha -->
            <hr class="mt-4 border border-primary border -1">

            <!-- Nome do cliente -->
            <div class="col-md-8">
                <label for="inputNameClient" class="form-label">Nome do Cliente</label>
                <input type="text" class="form-control" id="inputNameClient" spellcheck="false" required maxlength="30" required>
            </div>

            <!-- Tipo do instrumento -->
            <div class="col-md-4">
                <label for="inputType" class="form-label">Tipo do Instrumento</label>
                <input type="text" class="form-control" id="inputCPFClient" spellcheck="false" maxlength="15" required>
            </div>

            <!-- Marca e Modelo -->
            <div class="col-md-6">
                <label for="inputMarc" class="form-label">Marca e Modelo</label>
                <input type="text" class="form-control" id="inputEmailClient" spellcheck="false" maxlength="30" required>
            </div>

            <!-- Número de série -->
            <div class="col-md-4">
                <label for="inputNum" class="form-label">Número de OS</label>
                <input type="text" class="form-control" id="inputPhoneClient" spellcheck="false" maxlength="15"
                    required>
            </div>

            <!-- Defeito/Problema -->
            <div class="col-md-2">
                <label for="inputDefect" class="form-label">Relato do cliente</label>
                <input type="text" class="form-control" id="inputCEPClient" spellcheck="false" maxlength="9" required>
            </div>

            <!-- Funcionario -->
            <div class="col-md-6">
                <label for="inputResponsible" class="form-label">Características e Condição</label>
                <input type="text" class="form-control" id="inputAddressClient" spellcheck="false" maxlength="30"
                    required>
            </div>

            <!-- Serviço solicitado -->
            <div class="col-md-3">
                <label for="inputService" class="form-label">Serviço Solicitado</label>
                <input type="text" class="form-control" id="inputNumberClient" spellcheck="false" maxlength="5"
                    required>
            </div>

            <!-- Observações -->
            <div class="col-md-3">
                <label for="inputCondition" class="form-label">Detalhes do que será feito</label>
                <input type="text" class="form-control" id="inputComplementClient" spellcheck="false" maxlength="12">
            </div>

            <!-- Orçamento -->
            <div class="col-md-5">
                <label for="inputValue" class="form-label">Orçamento</label>
                <input type="text" class="form-control" id="inputNeighborhoodClient" spellcheck="false" maxlength="30"
                    required>
            </div>

            <!-- Entrada -->
            <div class="col-md-2">
                <label for="inputEntry" class="form-label">Data de Entrada</label>
                <input type="text" class="form-control" id="inputCityClient" spellcheck="false" maxlength="30" required>
            </div>

            <!-- Saida -->
            <div class="col-md-2">
                <label for="inputFinish" class="form-label">Previsão conclusão</label>
                <input type="text" class="form-control" id="inputCityClient" spellcheck="false" maxlength="30" required>
            </div>

              <!-- Status -->
              <div class="col-md-2">
                <label for="inputUFCliente" class="form-label">Status</label>
                <select class="form-select" id="inputUFCliente" name="UF" required>
                    <option value="">Selecione</option>
                    <option value="Em Aberto">Em Aberto</option>
                    <option value="Aguardando Peça">Aguardando Peça</option>
                    <option value="Concluido">Concluido</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>

        </form>
    </div>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>