<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos e Garantia</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
    <h2>Termos e Garantias da Luthieria Coração de Madeira</h2>
    <h5>1. Garantia do Serviço</h5> 
        <p>Todos os serviços possuem garantia de 90 dias, cobrindo apenas falhas decorrentes da mão de obra.
        
        A garantia não cobre desgastes naturais, mau uso, quedas, exposição a umidade, calor excessivo ou modificações feitas por terceiros.
        </p>
        
        <h5>2. Peças e Componentes</h5>
        <p>Peças e componentes substituídos possuem garantia do fabricante, caso aplicável.
        
        A instalação de peças fornecidas pelo cliente será feita sob sua responsabilidade, sem garantia sobre o funcionamento.
        </p>
        
        <h5>3. Ajustes e Revisões</h5>
        
        <p>Caso haja necessidade de ajustes dentro do período de garantia, o cliente deve trazer o instrumento à luthieria para avaliação.
        
        Pequenos ajustes pós-serviço podem ser feitos sem custo adicional dentro do prazo de garantia.
        </p>
        
        <h5>4. Serviços Adicionais</h5>
        
        <p>Qualquer serviço extra ou modificação não prevista na ordem de serviço pode gerar custos adicionais.
        
        O orçamento aprovado pelo cliente é final, salvo necessidade de ajustes previamente comunicados.
        </p>
        
        <h5>5. Retirada do Instrumento</h5>
        
        <p>O cliente deve retirar o instrumento em até 30 dias após a conclusão do serviço.
        
        Após esse período, poderá ser cobrada uma taxa de armazenamento proporcional ao tempo excedido.
        </p>
        
        <h3>6. Responsabilidade</h3>
        
        <p>A luthieria não se responsabiliza por danos pré-existentes ou ocultos identificados durante o serviço.
        
        O transporte do instrumento é de responsabilidade do cliente.
        </p>
        
        <h1>Ao deixar seu instrumento para serviço, o cliente concorda com estes termos.</h1>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>